@model IEnumerable<ProyectoFinal.Models.Cajas>

<h2>Cajas</h2>

<a class="btn btn-primary" asp-action="Registrar" role="button">Registrar</a>

<div class="table-responsive mt-3">
    <table class="table table-primary">

        @* Nombre
        ▪ Descripción (Solamente mostrar 10 caracteres seguidos de “…”)
        ▪ Teléfono SINPE
        ▪ Fecha de registro
        ▪ Estado (Activo o Inactivo)
        ▪ Acciones (Editar, Ver SINPE) *@

        @* {
        [Key]
        public int IdCaja { get; set; }
        public int IdComercio { get; set; }
        public string Nombre { get; set; }
        public string Descripcion { get; set; }
        public string TelefonoSINPE { get; set; }
        public DateTime FechaDeRegistro { get; set; }
        public DateTime? FechaDeModificacion { get; set; }
        public bool Estado { get; set; }
        } *@

        <thead>
            <tr>
                <th scope="col">Id Caja</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">TelefonoSINPE</th>
                <th scope="col">FechaDeRegistro</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cajas itemCaja in Model)
            {
                <tr>
                    <td>@itemCaja.IdCaja</td>
                    <td>@itemCaja.Nombre</td>
                    <td>@itemCaja.Descripcion</td>
                    <td>@itemCaja.TelefonoSINPE</td>
                    <td>@itemCaja.FechaDeRegistro.ToString("dd/MM/yyyy")</td>
                    <td>@itemCaja.Estado</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Cajas" asp-action="Editar" asp-route-id="@itemCaja.IdCaja" role="button">Editar</a>
                        <a class="btn btn-info" asp-action="Ver Sinpe" asp-route-id="" role="button">Ver Sinpe</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
